APP_URL="http://localhost:8080"
APP_TIMEZONE="Asia/Makassar"
SESSION_SECURE="0"
# Daftar IP reverse proxy (pisahkan koma) yang X-Forwarded-For-nya dipercaya untuk pembatasan login. Kosongkan bila tanpa proxy.
TRUSTED_PROXIES=""
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_DATABASE="sikap360"
DB_USERNAME="sikap"
DB_PASSWORD="ganti-dengan-kata-sandi-database"
MYSQL_ROOT_PASSWORD="ganti-dengan-kata-sandi-root"
